html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
}

#root {
  display: inline-block;
  border: 2px solid #000;
  box-sizing: border-box;

  height: 32.75em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#root::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
